.artistPage {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistHead {
  display: grid;
  justify-items: center;
}

.requestCode {
  color: var(--white);
  font-size: 3vw;
}

.updateReqDiv {
  margin-top: 2vw;
  margin-bottom: 2vw;
  width: 30vw;
  display: flex;
  justify-content: space-between;
}

.reqUpdate {
  border-radius: 25px;
  width: 20vw;
  height: 3vw;
  text-align: center;
}

.submitButton {
  background-color: var(--red);
  height: 3vw;
  width: 8vw;
  border-radius: 25px;
}

.table {
  display: grid;
  justify-items: center;
}

.tableClass {
  width: 100vw;
}

.tableHeader {
  text-align: center;
  color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-color: var(--pink);
  font-size: 2vw;
  border: 5px solid var(--background-color);
}

.tableBody {
  text-align: center;
  color: var(--background-color);
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  font-size: 2vw;
  border: 5px solid var(--background-color);
}

.header {
  width: 100%;
  height: 30vh;
}

.userImage {
  border-radius: 50%;
  width: 20%;
}

.welcome {
  color: var(--white);
  font-size: 6vw;
  font-family: "Borsok", sans-serif;
}

.userName {
  color: var(--white);
  font-size: 4vw;
  font-family: "Borsok", sans-serif;
}

.nameAndImage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 8% 0 8%;
}

.signOut {
  background-color: var(--yellow);
  margin-top: 5vw;
  border-radius: 25px;
  font-size: 3vw;
}
