.artistPage {
  background-color: var(--background-color);
  height: 105vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 0;
}

.artistPageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artistHead {
  display: grid;
  justify-items: center;
  align-items: center;
}

.requestCode {
  color: var(--white);
  font-size: 80%;
  height: 100%;
}

.updateReqDiv {
  margin-top: 6%;
  margin-bottom: 2%;
  width: min(70%, 350px);

  height: 6vh;
  display: flex;
  justify-content: space-between;
}

.reqUpdate {
  display: flex;
  flex-wrap: wrap;
  border-radius: 25px;
  width: 60%;
  height: 100%;
  text-align: center;
  font-size: 80%;
}

.submitButton {
  background-color: var(--red);
  border-radius: 25px;
  width: 30%;
  height: 100%;
  text-align: center;
  font-size: 80%;
  font-weight: 600;
}

.table {
  display: grid;
  justify-items: center;
  margin-top: 5%;
}

.tableClass {
  width: 100%;
}

.tableHeader {
  text-align: center;
  color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background-color: var(--pink);
  font-size: 120%;
  border: 5px solid var(--background-color);
}

.tableBody,
.deleteButton {
  text-align: center;
  color: var(--background-color);
  font-family: "Poppins", sans-serif;
  font-weight: 300;

  background-color: var(--white);
  font-size: 80%;
  border: 5px solid var(--background-color);
}

.deleteButton {
  font-size: 150%;
}

.userImage {
  border-radius: 50%;
  width: min(20%, 200px);
}

.welcome {
  color: var(--white);
  font-size: min(320%, 150px);
  font-family: "Borsok", sans-serif;
  line-height: 90%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.userName {
  color: var(--white);
  font-size: min(250%, 300px);
  font-family: "Borsok", sans-serif;
  line-height: 90%;
  text-align: center;
  margin-bottom: 5%;
  padding-top: 4%;
}

.nameAndImage {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.signOut {
  background-color: var(--yellow);
  border-radius: 25px;
  width: 50%;
  height: 6vh;
  text-align: center;
  font-size: 115%;
  font-weight: 600;
  margin-top: 5%;
}

.logo {
  width: min(40%, 800px);
}
