@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #232946;
  --white: #fffffe;
  --pink: #eebbc3;
  --yellow: #f1e510;
  --red: #e3386a;
  --light-blue: #b8c1ec;
}

@font-face {
  font-family: "Borsok";
  src: url("../public/boorsok.ttf");
}


